body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(208, 226, 255);
  }
  
  /* Container styling */
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    max-width: 70px;
    border-radius: 0.3rem;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  /* Navbar customization */
  .navbar {
    background-color: #f4f4f4;
    border-bottom: 2px solid rgb(79, 190, 255);
    max-height: 70px;
  }
  
  .navbar a {
    color: #242424;
    padding: 10px;
  }
  
  /* Offcanvas should be full width on small screens */
  .offcanvas {
    width: 100%; /* Fullscreen on mobile */
  }
  
  .offcanvas-body {
    overflow-y: hidden; /* Disable scrolling inside the off-canvas */
  }
  
  /* Ensure the content fills the page */
  .flex-grow-1 {
    padding: 20px;
  }